body {
    background-color:rgba(5, 5, 5, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-family:'DS-Digital';
    font-size: 9em;
    color: rgba(107, 4, 186, 0.859);

}

@font-face{
    font-family:'DS-Digital';
    src: url(../font/DS-DIGI.TTF)
}